<div class="container">
<!--  <div class="login-box">-->
<!--    <h2>Login</h2>-->
<!--    <form>-->
<!--      <div class="user-box">-->
<!--        <input type="text" name="" required="">-->
<!--        <label>Username</label>-->
<!--      </div>-->
<!--      <div class="user-box">-->
<!--        <input type="password" name="" required="">-->
<!--        <label>Password</label>-->
<!--      </div>-->
<!--      <a href="#">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        Submit-->
<!--      </a>-->
<!--    </form>-->
<!--  </div>-->
  <%#= form_with url: "/registration", method: :get do |form| %>
    <%#= form.label :query, "Search for:" %>
    <%#= form.text_field :query %>
    <%#= form.submit "Search" %>
  <%# end %>

  <div class="login-box">
    <h2>Login</h2>
  <%= form_for :user, class: "user-box" do |f|-%>

      <div class="user-box">
      <%= f.text_field 'email', class: 'user-box' %>
      <%= f.label :email, "Email Address" %>
      </div>

      <div class="user-box">
      <%= f.password_field :password, class: "user-box" %> <br />
      <%= f.label :password, "Password" %>
      </div>

      <div class="user-box">
      <%= f.password_field :password_confirmation, class: "user-box" %> <br />
      <%= f.label :password_confirmation, "Confirm Password" %>
      </div>

      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <a>
      <%= submit_tag 'Отправить' %>
      </a>
  <% end -%>
  </div>
</div>