<div class="container">
  <div class="login-box">
    <h2>Sign Up</h2>
    <%= form_for :user do |f|-%>

      <div class="user-box">
      <%= f.text_field :email, required: "" %>
        <label>Email</label>
      </div>

      <div class="user-box">
      <%= f.password_field :password, required: "" %> <br />
        <label>Password</label>
      </div>

      <div class="user-box">
      <%= f.password_field :password_confirmation, required: "" %> <br />
        <label>Confirm password</label>
      </div>

      <a>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <%= f.submit "Create account" %>
      </a>
    <% end -%>
  </div>
</div>