<%= form_with(model: test, local: true, class: 'w-full max-w-md mx-auto p-6 bg-white rounded-md shadow-md') do |form| %>
  <div class="mb-4">
    <%= form.label :name, class: 'block text-sm font-medium text-white' %>
    <%= form.text_field :name, placeholder: 'Test Name', class: 'form-input mt-1 block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5' %>
  </div>

  <div class="mb-4">
    <%= form.label :code_word, class: 'block text-sm font-medium text-white' %>
    <%= form.text_field :code_word, placeholder: 'Access Code', class: 'form-input mt-1 block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5' %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: 'block text-sm font-medium text-white' %>
    <%= form.text_area :description, placeholder: 'Description', class: 'form-input mt-1 block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5' %>
  </div>

  <div class="mb-4">
    <%= form.label :genre_id, class: 'block text-sm font-medium text-white' %>
    <%= form.collection_select :genre_id, Genre.all, :id, :name, { prompt: 'Select Genre' }, class: 'form-select mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5' %>
  </div>

  <div id="questions-container">
    <!-- Вопросы и ответы будут добавлены здесь динамически через JavaScript -->
  </div>

  <button type="button" id="add-question" class="bg-blue-500 text-white py-2 px-4 rounded-md">Add Question</button>

  <%= form.submit 'Create Test', class: 'bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-md' %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const questionsContainer = document.getElementById('questions-container');
    const addQuestionButton = document.getElementById('add-question');

    addQuestionButton.addEventListener('click', function () {
      const questionIndex = new Date().getTime();
      const questionFields = `
        <div class="mb-2">
          <label for="test_questions_attributes_${questionIndex}_content" class = "text-white">Question</label>
          <input type="text" name="test[questions_attributes][${questionIndex}][content]" id="test_questions_attributes_${questionIndex}_content" class="mb-2">
          
          <label for="test_questions_attributes_${questionIndex}_answer1" class = "text-white">Answer 1</label>
          <input type="text" name="test[questions_attributes][${questionIndex}][answer1]" id="test_questions_attributes_${questionIndex}_answer1" class="mb-2">
          
          <label for="test_questions_attributes_${questionIndex}_answer2" class = "text-white">Answer 2</label>
          <input type="text" name="test[questions_attributes][${questionIndex}][answer2]" id="test_questions_attributes_${questionIndex}_answer2" class="mb-2">
        </div>
      `;

      questionsContainer.insertAdjacentHTML('beforeend', questionFields);
    });
  });
</script>